.add_game_padding {
  padding: 10px;
}

.question_type_container {
  display: flex;
  padding: 0.375rem 0.65rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
}

.question_type_border {
  border-radius: 0;
}

.select_question_type_border {
  margin-left: -1px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.center_btn {
  text-align: center;
}

.embed_btn {
  width: 95%;
}

.add_remove_input_box {
  margin: 5px;
}